#main{
    text-align: center;
}

#notice{
    line-height: 1.1em;
}

#header{
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace /*cursive*/;
}

#generate{
    position: static;
    text-align: center;
    border-radius: 4px;
    font-size: 24px;
    font-family: 'Courier New', Courier, "Meiryo UI Regular", monospace /*'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif*/;
    margin: 1em;
    padding: 10px 1em;
    background-color: azure;
}

#content{
    position: static;
    display: inline-flex;
    justify-content: center;
    border: thin dotted black;
}

.content{
    border: thin solid gray;
    border-top-width: 0;
    width: 29ch;
}

html[lang=ja] .content{
    width: 25ch;
}

.ch{
    font-family: 'Courier New', Courier, sans-serif, monospace;
    border: thin dotted black;
    background-color: gainsboro;
    padding: 10px 3.5em;
}

.e, .be{
    z-index: -1;
    font-family: 'Courier New', Courier, sans-serif, monospace;
    background-color: #fdfdfd;
    display: inline-flex;
    white-space: pre;
    padding: 10px;
    line-height: 1;
}

html[lang=ja] .ch, html[lang=ja] .e{
    font-family: monospace, sans-serif;
}

#iev{
    width: 13ch
}

html[lang=ja] #iev{
    width: 14ch;
}

.s, .v{
    z-index: 0;
    text-align: right;
}

html[lang=ja] .s, html[lang=ja] .v{
    line-height: 1;
}

.be{
    display: none;
    z-index: 0;
    position: absolute;
    flex-flow: column wrap-reverse;
    padding: unset;
    margin: 10px;
}

#bce{
    width: 12ch;
}

#bee{
    width: 13ch;
}

html[lang=ja] #bce{
    width: 13.5ch;
}

html[lang=ja] #bee{
    width: 13.4ch;
}

.bbce, .bbee{
    background-color: darkolivegreen;
    height: 1em;
    opacity: 12.5%;
}

/* html[lang=ja] .bbce, html[lang=ja] .bbee{
    height: 1.1em;
} */

#annotation{
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    font-family: 'Courier New', Courier, sans-serif, monospace;
    font-weight: bold;
    text-align: left;
    padding: 2em 33vw;
}

dl{
    font-weight: normal;
    padding: 0 1em;
    line-height: 0.95em;
}

html[lang=ja] dl{
    line-height: 1em;
}

html[lang=ja] dd{
    padding: 0.3em 0 0.3em;
}

#ex{
    padding: 0.3em 0 0.3em;
}

@media screen and (max-width: 480px){
    #content{
        position: static;
        display: inline-flex;
        flex-flow: column;
        justify-content: center;
        border: thin dotted black;
    }
    
    .content{
        border: thin solid gray;
        display: inline-flex;
        flex-flow: row;
        border-top-width: 0;
        width: 9ch;
        padding: 0 33.33vw 0 0;
    }
    
    html[lang=ja] .content {
        width: 18ch;
    }
    
    .ch{
        z-index: 1;
        font-family: monospace;
        border: thin dotted black;
        background-color: gainsboro;
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
        padding: 1ex 0.5ch;
    }

    html[lang=ja] .ch{
        transform: rotate(0);
        padding: 3.5em 0.5ch;
    }

    .e, .be{
        z-index: initial;
        font-family: monospace;
        text-align: left;
        padding: 1ex 1ch;
        line-height: 0.975em;
    }

    
    html[lang=ja] .e{
        font-family: monospace;
    }

    .s, .v{
        z-index: 1;
        text-align: right;
    }

    #ces{
        padding: 0 0 0 1ch;
    }

    html[lang=ja] #ces{
        padding: 0 0 0 0ch;
    }

    #cev, #eev{
        padding: 0 0 0 7ch;
    }

    html[lang=ja] #cev, html[lang=ja] #eev{
        padding: 0 0 0 8ch;
    }

    .be{
        display: none;
        z-index: 0;
        position: absolute;
        flex-flow: column wrap-reverse;
        padding: unset;
        margin: 1ex 3.25ch+1ex;
    }
    
    html[lang=ja] .be{
        margin: 1ex 4.75ch;
    }

    #bce, #bee{
        width: 21ch;
    }

    html[lang=ja] #bce, html[lang=ja] #bee{
        width: 22.5ch;
    }


    html[lang=en] .bbce, html[lang=en] .bbee{
        height: 0.975em;
    }

    #annotation{
        /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
        font-family: 'Courier New', Courier, sans-serif, monospace;
        font-weight: bold;
        text-align: left;
        padding: 2em 10vw;
    }
}
