#main{
    text-align: center;
}

#header{
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace /*cursive*/;
}

#generate{
    position: static;
    text-align: center;
    border-radius: 4px;
    font-size: 24px;
    font-family: 'Courier New', Courier, "Meiryo UI Regular", monospace /*'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif*/;
    margin: 1em;
    padding: 10px 1em;
    background-color: azure;
}

#content{
    position: static;
    display: inline-flex;
    justify-content: center;
    border: thin dotted black;

}

.content{
    border: thin solid gray;
    border-top-width: 0;
    width: 29ch;
}

html[lang=ja] .content{
    width: 25ch;
}

.ch{
    font-family: 'Courier New', Courier, sans-serif, monospace;
    border: thin dotted black;
    background-color: gainsboro;
    padding: 10px 3.5em;
}

.e{
    font-family: 'Courier New', Courier, sans-serif, monospace;
    background-color: #fdfdfd;
    display: inline-flex;
    white-space: pre;
    padding: 10px /*3.5em*/;
    line-height: 1;
}

html[lang=ja] .ch, html[lang=ja] .e{
    font-family: monospace, sans-serif;
}

#iev{
    width: 13ch
}

html[lang=ja] #iev{
    width: 14ch;
}

.s, .v{
    text-align: right;
}

html[lang=ja] .s, html[lang=ja] .v{
    line-height: 1.1;
}

#annotation{
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    font-family: 'Courier New', Courier, sans-serif, monospace;
    font-weight: bold;
    text-align: left;
    
    padding: 2em 33vw;
}

dl{
    font-weight: normal;
    padding: 0 1em;
    line-height: 0.95em;
}

html[lang=ja] dl{
    line-height: 1em;
}

html[lang=ja] dd{
    padding: 0.3em 0 0.3em;
}

#ex{
    padding: 0.3em 0 0.3em;
}

@media screen and (max-width: 480px){
    #content{
        position: static;
        display: inline-flex;
        flex-flow: column;
        justify-content: center;
        border: thin dotted black;
    
    }
    
    .content{
        border: thin solid gray;
        display: inline-flex;
        flex-flow: row;
        border-top-width: 0;
        width: 30ch;
    }
    
    .ch{
        font-family: monospace, sans-serif;
        border: thin dotted black;
        background-color: gainsboro;
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
        padding: 1ex 10px;
    }

    html[lang=ja] .ch{
        transform: rotate(0);
        padding: 3.5em 10px;
    }

    .e{
        font-family: monospace, sans-serif;
        background-color: #fdfdfd;
        text-align: left;
        white-space: pre;
        padding: 1ex 10px;
        line-height: 0.975em;

    }

    .s{
        text-align: right;
    }

    #ces{
        padding: 0 0 0 1ch;
    }

    html[lang=ja] #ces{
        padding: 0 0 0 0ch;
    }

    .v{
        text-align: right;
    }

    #cev, #eev{
        padding: 0 0 0 7ch;
    }

    html[lang=ja] #cev, html[lang=ja] #eev{
        padding: 0 0 0 8ch;
    }
    
    #annotation{
        /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
        font-family: 'Courier New', Courier, sans-serif, monospace;
        font-weight: bold;
        text-align: left;
        padding: 2em 10vw;
    }
}
