#main{
    text-align: center;
}
#header{
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;

}

#generate{
    position: static;
    text-align: center;
    border-radius: 4px;
    font-size: 24px;
    font-family: "Meiryo UI Regular";
    margin: 1em;
    padding: 10px 1em;
    background-color: azure;
}

#content{
    position: static;
    display: inline-flex;
    justify-content: center;
    border: thin dotted black;

}
.content{
    border: thin solid gray;
    border-top-width: 0;
}
.ch{
    font-family: 'Courier New', Courier, "Meiryo UI Regular", monospace;
    border: thin dotted black;
    background-color: gainsboro;
    
    padding: 10px 3.5em;

}
.e{
    font-family: 'Courier New', Courier, "Meiryo UI Regular", monospace;
    background-color: #fdfdfd;
    /*text-align: left;*/
    white-space: pre;
    tab-size: 2;
    padding: 10px 3.5em;
}
#annotation{
    font-family: 'Courier New', Courier, "Meiryo UI Regular", monospace;
    font-weight: bold;
    text-align: left;
    
    padding: 2em 33vw;
}
dl{
    font-weight: normal;
    padding: 0 1em;
    line-height: 1em;
}